body{
font-family:Arial;
margin:0;
background:#0b3d4f;
color:white;
}

/* layout container */
.container{
display:flex;
min-height:100vh;
}

/* main content */
main{
flex:1;
padding:40px;
}

/* right sidebar navigation */
nav{
width:220px;
background:#0f5c73;
padding:20px;
display:flex;
flex-direction:column;
}

nav a{
color:white;
text-decoration:none;
margin:8px 0;
font-weight:bold;
position:sticky;
top:0;
height:100vh;
}

nav a:hover{
text-decoration:underline;
}

/* header */
header{
background:#062a35;
padding:20px;
text-align:center;
}

/* footer */
footer{
background:#062a35;
text-align:center;
padding:15px;
}